 <style>
    body {
      text-align: center;
      background: url("http://imageshack.com/a/img924/9201/7n3pPZ.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 14px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    #rounded-image {
      border-radius: 150px;
      padding: 20px; 
      width: 150px;
      height: 150px; 
    }
    
    
  ol {
    background: #ff9999;
    padding: 10px;
  }

  ul {
    background: #3399ff;
    padding: 10px;
  }
  
   a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
  </style>
